h1 {
    color: black;
  }

h2 {
    color: navy;
  }

h3 {
  color: navy;
  text-align: center;
}
  
.f1 {
  color: black;
  font-size: smaller;

}

.back-black {
    background-color: #000;
  }

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.bs-example{
	margin: 20px;
}
